.tagline{
    color: var(--muted-text);
    margin-bottom: 24px;
    animation: fadeIn 2s ease forwards;
    opacity: 0;
}
@keyframes fadeIn{
    to {opacity: 1;}
}

header{
    background-color: #040404;
    color: aliceblue;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 5px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: var(--max-width);
}
