.tagline{
    color: var(--muted-text);
    margin-bottom: 24px;
    animation: fadeIn 2s ease forwards;
    opacity: 0;
}
@keyframes fadeIn{
    to {opacity: 1;}
}

header{
    background-color: var(--card-bg);
    color: var(--text-color);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 5px;
    backdrop-filter: blur(10px);
    border: 1px solid var;
    width: var(--max-width);
}

/* body.light-mode header{
    background-color: rgb(212, 207, 207);
    color: black;
    padding: 16px 24px;
    margin: 0;

    width: 100%;
    max-width: none;
    border: none;
    border-radius: 0;
    backdrop-filter: none;
    
} */