
/* Projects section */
#projects{
    background-color: var(--project-bg);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 40px;
    backdrop-filter: blur(10px);
    border: 1px solid var(--project-border);
    display:grid;
    width: var(--max-width);
}

.project img:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

/* #2a2a32 */
.project{
    background-color: var(--card-color) ;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    backdrop-filter: blur(10px);
    border: 1px solid var(--border-shadow);
    display:flex;
    justify-content: space-between;
    align-items: stretch;
    /* makes both sides equal height */
    gap: 20px;
    width: 834px;
}

.project-content{
    flex: 1;
}

