
/* Skills Section */
#skills{
    background-color: #727273;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 40px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    display:grid;
    width: var(--max-width);
}

#skills h2{
    font-size: 28px;
    margin-bottom: 20px;
}

.skill-category{
    margin-bottom: 25px;
}

.skill-category h3{
    margin-bottom: 10px;
    color: var(--primary-color);
}

.skill-tags{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skill-tags span{
    padding: 8px 14px;
    border-radius: 20px;
    background-color: #727273;
    color: #fff;
    font-size: 14px;
    border: 1px solid #444;
    transition: 0.3s ease;
}

.skill-tags span:hover{
    background-color: var(--primary-color);
    color: #000;
    cursor: cell;
}
