
/* Skills Section */
#skills{
    background-color: var(--card-bg);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 40px;
    backdrop-filter: blur(10px);
    border: 1px inset var(--skills-border);
    display:grid;
    width: var(--max-width);
}

#skills:hover{
    transform: translateY(-2px);
    box-shadow: 0 4px 10px var(--border-shadow);
}

#skills h2{
    font-size: 28px;
    margin-bottom: 20px;
}

.skill-category{
    margin-bottom: 25px;
}

.skill-category h3{
    margin-bottom: 10px;
    color: var(--primary-color);
}

.skill-tags{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skill-tags span{
    padding: 8px 14px;
    border-radius: 2px;
    background-color: var(--primary-color);
    color: var(--text-color);
    font-size: 14px;
    border: 1px solid var(--border-shadow);
    transition: 0.3s ease;
}

.skill-tags span:hover{
    background-color: var(--bg-color);
    color: var(--text-color);
    cursor: cell;
    border: 1px solid var(--button-hover);
}
