:root{
    --pg-bg: #3a3a3c;
    --text-color: #fbf9f9;
    --muted-text: #c2bbbb;
    --primary-color: hsl(0, 2%, 73%);
    --max-width: 900px;
    --sidebar-width: 110px; 
    --card-color: #353131;
    --card-bg: black;
    --button-hover: #746f6f;
    --project-bg: #727273;
    --border-shadow: rgba(255, 255, 255, 0.1);
}

/* Reset default styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: var(--pg-bg);
    color: var(--text-color);
    line-height: 1.8;
    font-size: 16px;
}



/* smooth scroll for any anchors */
html{
    scroll-behavior: smooth;
}


/* General layout */

header,
section{
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 30px 20px;
/* 40 = top & bottom, 20 = right & left */
/* if 4 values then top, right, bottom, left respectively */
}

.page{
    margin-left: var(--sidebar-width);

    /* To add a subtle left content gutter */
    background: linear-gradient(
        to right,
        var(--card-color) 0,
        var(--button-hover) 30px,
        transparent 30px
    );
}

.container{
    max-width: 2200px;
    /* controls line length */
    padding: 3rem;
}

#theme-toggle {
    margin-left: auto;

    background: #f1f5f9;
    border: none;
    padding: 8px 12px;
    border-radius: 999px;

    cursor: progress;
    font-size: 0.85rem;
    color: #1f2937;
}

/* Hover */
#theme-toggle:hover{
    background: #e2e8f0;
}