
/* MAKE WEBSITE RESPONSIVE */

@media (max-width: 768px){
    .page{
        margin-left: 0 !important;
        padding-top: 0;
    }

    .container{
        padding: 15px;
        width: 100%;
    }
    .skills-group{
        flex-direction: column;
        gap: 20px;
    }

    .actions{
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }
    .actions.btn-primary{
        width: 80%;  
        text-align: center;
    }

    .project{
        width: 100% !important;
        flex-direction: column;
        height: auto;
        /* padding: 15px; */
    }

    .project-img, .project-content{
        width: 100%;
    }

    .project-links a{
        display: inline-block;
        margin-bottom: 8px;
    }

    .sidebar{
        width: 100%;
        height: auto;
        position: relative;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 10px;
    }

    .image-wrapper{
        flex-direction: column;
    }

    .skill-tags {
        justify-content: center;
    }
}

/* GENERAL ADJUSTMENTS FOR SMALLER SCREENS */

@media (max-width: 480px){
    body{
        font-size: 15px;
        line-height: 1.6;
    }

    header,
    section{
        padding: 30px 15px;
    }

    h2{
        font-size: 1.6rem;
    }

    h3{
        font-size: 1.1rem;
    }

}
