/* Buttons */
.btn-primary{
    display: inline-block;
    background-color: var(--primary-color);
    color: white;
    padding: 10px 18px;
    border-radius: 10px;
    font-weight: 500;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.btn-primary:hover{
    background-color: #080808;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Header actions buttons */
.actions{
    display: flex;
    gap: 12px;
}

