/* Typography */
h1{
    font-size: 2.5rem;
    font-weight: 700;
}

h2{
    font-size: 2rem;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 16px;
}

h3{
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 6px;
}

p{
    max-width: 65ch;
    margin-bottom: 1rem;
}

 


/* Headings Line-Height for consistency */
h1,
h2,
h3{
    line-height: 1.25;
}

h2{
    position: relative;
}

h2::after{
    content: '';
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: var(--primary-color);
    bottom: -5px;
    left: 0;
    transition: width 0.3s;
}
h2:hover::after{
    width: 100%;
}

