
#pinterest-thumb,
#ui-dark,
#ui-light{
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 8px;
    display: block;
    margin: 0 auto 10px;
    box-shadow: 0 4px 8px var(--pg-bg);
}

.image-wrapper{
    display: flex;
    gap: 15px;
    height: 100%;
    margin-top: 20px;
}

.mode{
    position: relative;
}

.mode span{
    /* position: absolute; */
    top: 8px;
    left: 8px;
    background: var(--pg-bg) ;
    color: var(--text-color);
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 6px;
}

.mode img{
    width: 220px;
    border-radius: 10px;
}

.project-img{
    flex: 1;
    display: flex;
}

.project-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* ensures image fills height */
    border-radius: 10px;
}